jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/prepare
      - run: pnpm run build
      - run: pnpm run migrate:test
      - if: always()
        name: Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coverage-migrate/lcov.info
          flags: migrate
      - if: always()
        name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          path: coverage-migrate

name: Test Migration Script

on:
  pull_request: ~

  push:
    branches:
      - main
